.navbar-border-radius{
    border-radius: 15px;
}

.bg-orange{
    background-color: #FAB417;
}

.color-white{
    color: #fff !important;
}

.dropdown-toggle::after {
    content: none;
}

.focus-none:focus{
    outline: none;
    box-shadow: none;
}